@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


div{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(grey,yellow);
}
h1{
    border : 2px dashed purple;
    border-radius: 5%;
    font-family: 'Dancing Script', cursive;
}